servers:
- url: https://api.azion.com/v4
openapi: 3.0.0
info:
  title: azion-api
  version: 4.0.0
  description: The AZION v4 REST API.
  contact:
    name: Azion Support
    url: https://www.azion.com/en/contact/
    email: support@azion.com
paths:
  /workspace/applications:
    get:
      operationId: list_applications
      description: List all Applications owned by your account.
      summary: List Applications
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApplicationList'
          description: List of applications retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application
      description: Create a new Application in your account.
      summary: Create an Application
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}:
    get:
      operationId: retrieve_application
      description: Retrieve details of a specific Application in your account.
      summary: Retrieve details of an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Applications
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application
      description: Update an existing Application. This replaces the entire Application
        with the new data provided.
      summary: Update an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application
      description: Update one or more fields of an existing Application without affecting
        other fields.
      summary: Partially update an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedApplicationRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application
      description: Delete a specific Application in your account.
      summary: Delete an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/clone:
    post:
      operationId: clone_application
      description: Create a new Application by performing a deep copy of an existing
        Application, including its Cache Settings, Origins, Error Responses, Function
        Instances, and Rules Engine.
      summary: Clone an Application
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneApplicationRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application cloned successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/cache_settings:
    get:
      operationId: list_cache_settings
      description: List all Cache Settings owned by your account.
      summary: List all Applications Cache Settings
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Cache Settings
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCacheSettingList'
          description: List of cache settings retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_cache_setting
      description: Create a new Cache Setting in your account.
      summary: Create an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Cache Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheSettingRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/cache_settings/{cache_setting_id}:
    get:
      operationId: retrieve_cache_setting
      description: Retrieve details of a specific Cache Setting in your account.
      summary: Retrieve details of an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the cache setting.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Applications - Cache Settings
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_cache_setting
      description: Update an existing Cache Setting. This replaces the entire Cache
        Setting with the new data provided.
      summary: Update an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the cache setting.
        required: true
      tags:
      - Applications - Cache Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheSettingRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_cache_setting
      description: Update one or more fields of an existing Cache Setting without
        affecting other fields.
      summary: Partially update an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the cache setting.
        required: true
      tags:
      - Applications - Cache Settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCacheSettingRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingResponse'
          description: Cache setting partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_cache_setting
      description: Delete a specific Cache Setting in your account.
      summary: Delete an Applications Cache Setting
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: cache_setting_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the cache setting.
        required: true
      tags:
      - Applications - Cache Settings
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Cache setting deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/device_groups:
    get:
      operationId: list_device_groups
      description: List all Device Groups owned by your account.
      summary: List Applications Device Groups
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - in: query
        name: user_agent
        schema:
          type: string
        description: Filter by user agent (case-insensitive, partial match).
      tags:
      - Applications - Device Groups
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceGroupList'
          description: List of device groups retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_device_group
      description: Create a new Device Group in your account.
      summary: Create an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Device Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupResponse'
          description: Device group created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/device_groups/{device_group_id}:
    get:
      operationId: retrieve_device_group
      description: Retrieve details of a specific Device Group in your account.
      summary: Retrieve details of a Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the device group.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Applications - Device Groups
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupResponse'
          description: Device group details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_device_group
      description: Update an existing Device Group. This replaces the entire Device
        Group with the new data provided.
      summary: Update an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the device group.
        required: true
      tags:
      - Applications - Device Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupResponse'
          description: Device group updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_device_group
      description: Update one or more fields of an existing Device Group without affecting
        other fields.
      summary: Partially update an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the device group.
        required: true
      tags:
      - Applications - Device Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDeviceGroupRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupResponse'
          description: Device group partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_device_group
      description: Delete a specific Device Group in your account.
      summary: Delete an Applications Device Group
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: device_group_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the device group.
        required: true
      tags:
      - Applications - Device Groups
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Device group deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/functions:
    get:
      operationId: list_application_function_instances
      description: List all Function Instances for a specific Application owned by
        your account.
      summary: List Function Instances
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Function
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFunctionInstanceList'
          description: List of application function instances retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application_function_instance
      description: Create a new Function Instance for a specific Application in your
        account.
      summary: Create an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionInstanceRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanceResponse'
          description: Application function instance created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/functions/{function_id}:
    get:
      operationId: retrieve_application_function_instance
      description: Retrieve details of a specific Application Function Instance in
        your account.
      summary: Retrieve details of an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: function_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanceResponse'
          description: Application function instance details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application_function_instance
      description: Update an existing Application Function Instance. This replaces
        the entire Function Instance with the new data provided.
      summary: Update an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: function_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionInstanceRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanceResponse'
          description: Application function instance updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application_function_instance
      description: Update one or more fields of an existing Application Function Instance
        without affecting other fields.
      summary: Partially update an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: function_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFunctionInstanceRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInstanceResponse'
          description: Application function instance partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application_function_instance
      description: Delete a specific Application Function Instance in your account.
      summary: Delete an Application Function Instance
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: function_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the function instance.
        required: true
      tags:
      - Applications - Function
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application function instance deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/request_rules:
    get:
      operationId: list_application_request_rules
      description: List all Rules for a specific Application owned by your account.
      summary: List Application Request Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: query
        name: description
        schema:
          type: string
        description: Filter by description (case-insensitive, partial match).
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - in: query
        name: order__gte
        schema:
          type: integer
          format: int64
        description: Filter by order (greater than or equal).
      - in: query
        name: order__lte
        schema:
          type: integer
          format: int64
        description: Filter by order (less than or equal).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Request Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRequestPhaseRuleList'
          description: List of application request rules retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application_request_rule
      description: Create a new Rule for a specific Application in your account.
      summary: Create an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPhaseRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPhaseRuleResponse'
          description: Application request rule created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/request_rules/{request_rule_id}:
    get:
      operationId: retrieve_application_request_rule
      description: Retrieve details of a specific Rule in your account.
      summary: Retrieve details of an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: request_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhaseRuleResponse'
          description: Application request rule details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application_request_rule
      description: Update an existing Rule. This replaces the entire Rule with the
        new data provided.
      summary: Update an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: request_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPhaseRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPhaseRuleResponse'
          description: Application request rule updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application_request_rule
      description: Update one or more fields of an existing Application Rule  without
        affecting other fields.
      summary: Partially update an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: request_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedRequestPhaseRule'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPhaseRuleResponse'
          description: Application request rule partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application_request_rule
      description: Delete a specific Rule in your account.
      summary: Delete an Application Request Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: request_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the request rule.
        required: true
      tags:
      - Applications - Request Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application request rule deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/request_rules/order:
    put:
      operationId: update_application_request_rules_order
      description: Reorder all Rules for a specific Application owned by your account.
      summary: Ordering Application Request Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Request Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequestPhaseRuleEngineOrder'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRequestPhaseRuleList'
          description: Application request rules order updated successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/response_rules:
    get:
      operationId: list_application_response_rules
      description: List all Rules for a specific Application owned by your account.
      summary: List Application Response Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: query
        name: description
        schema:
          type: string
        description: Filter by description (case-insensitive, partial match).
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - in: query
        name: order__gte
        schema:
          type: integer
          format: int64
        description: Filter by order (greater than or equal).
      - in: query
        name: order__lte
        schema:
          type: integer
          format: int64
        description: Filter by order (less than or equal).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Response Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponsePhaseRuleList'
          description: List of application response rules retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_application_response_rule
      description: Create a new Rule for a specific Application in your account.
      summary: Create an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsePhaseRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhaseRuleResponse'
          description: Application response rule created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/response_rules/{response_rule_id}:
    get:
      operationId: retrieve_application_response_rule
      description: Retrieve details of a specific Rule in your account.
      summary: Retrieve details of an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: response_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhaseRuleResponse'
          description: Application response rule details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_application_response_rule
      description: Update an existing Rule. This replaces the entire Rule with the
        new data provided.
      summary: Update an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: response_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsePhaseRuleRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhaseRuleResponse'
          description: Application response rule updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_application_response_rule
      description: Update one or more fields of an existing Application Rule  without
        affecting other fields.
      summary: Partially update an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: response_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedResponsePhaseRuleRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhaseRuleResponse'
          description: Application response rule partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_application_response_rule
      description: Delete a specific Rule in your account.
      summary: Delete an Application Response Rule
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - in: path
        name: response_rule_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the response rule.
        required: true
      tags:
      - Applications - Response Rules
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Application response rule deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/applications/{application_id}/response_rules/order:
    put:
      operationId: update_application_response_rules_order
      description: Reorder all Rules for a specific Application owned by your account.
      summary: Ordering Application Response Rules
      parameters:
      - in: path
        name: application_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the application.
        required: true
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Applications - Response Rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResponsePhaseRuleEngineOrderRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponsePhaseRuleList'
          description: Application response rules order updated successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /account/auth/login:
    post:
      operationId: auth_user_login
      description: "This endpoint performs user authentication and issues the user's\
        \ JWT tokens. The response depends on whether multi-factor authentication\
        \ (MFA) is enabled for the user:\n - If the user does not have MFA enabled,\
        \ the API returns a TokenPair object containing the access_token and refresh_token,\
        \ allowing immediate authentication.\n - If the user has MFA enabled, the\
        \ response returns an MFAToken object. This temporary token must be used in\
        \ the MFA verification endpoint to complete authentication. After successful\
        \ verification of the second factor, the TokenPair is issued."
      summary: User Login – Generate JWT Tokens
      tags:
      - Auth - Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLogin'
          description: User authenticated successfully. Returns JWT tokens or MFA
            token if MFA is enabled.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /account/auth/login/method:
    get:
      operationId: auth_user_login_method
      description: 'Returns the login type configured for the user. This indicates
        whether the user authenticates directly via Azion credentials (login) or via
        a federated Identity Provider (federated) linked to their account.

        This endpoint allows clients to determine whether to proceed with Azion''s
        native login flow or redirect the user to the Identity Provider (IdP) for
        authentication.'
      summary: Check User Authentication Method
      parameters:
      - in: query
        name: email
        schema:
          type: string
          format: email
        description: Email address of the user
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Auth - Login
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLoginMethodResponse'
              examples:
                ExampleResponseForLoginMethod.:
                  value:
                    method: login
                    url: http://localhost:9999/login
                  summary: Example response for login method.
                ExampleResponseForFederatedLoginMethod.:
                  value:
                    method: federated
                    url: http://localhost:8000/login
                  summary: Example response for federated login method.
          description: User authentication method retrieved successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
  /account/auth/mfa/totp:
    get:
      operationId: list_totp_devices
      description: List all totp devices for user account and descendant accounts.
      summary: List of TOTP devices
      parameters:
      - in: query
        name: confirmed
        schema:
          type: boolean
        description: Filter by confirmed status.
      - in: query
        name: email
        schema:
          type: string
        description: Filter by user's email (case-insensitive, partial match).
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: string
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by user's first name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Auth - MFA TOTP Device
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTOTPDeviceList'
          description: List of TOTP devices retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_totp_device
      description: Create a new TOTP device for your account.
      summary: Create a TOTP device
      tags:
      - Auth - MFA TOTP Device
      security:
      - JwtMfaAuthentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TOTPDeviceResponse'
          description: TOTP device created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
        required: false
  /account/auth/token:
    post:
      operationId: auth_user_refresh_token
      description: Refresh JWT access token, via a POST request.
      summary: Refresh user JWT access token
      tags:
      - Auth - Refresh Access Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      security:
      - JwtRefreshAuthentication: []
      - {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
          description: Refresh token generated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /account/auth/revoke:
    post:
      operationId: auth_user_revoke
      description: Revoke refresh token via a POST request.
      summary: Revoke user JWT refresh token
      tags:
      - Auth - Revoke
      requestBody:
        content:
          application/json:
            schema: {}
      security:
      - JwtRefreshAuthentication: []
      - {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateExecutedResponse'
              examples:
                Executed:
                  value:
                    state: executed
          description: Revoke successfully executed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/connectors:
    get:
      operationId: list_connectors
      description: List all Connectors owned by your account.
      summary: List Connectors
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      - in: query
        name: type__in
        schema:
          type: string
        description: Filter by type (accepts comma-separated values).
      tags:
      - Connectors
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedConnectorList'
          description: List of connectors retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_connector
      description: Create a new Connector in your account.
      summary: Create a Connector
      tags:
      - Connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/connectors/{connector_id}:
    get:
      operationId: retrieve_connector
      description: Retrieve details of a specific Connector in your account.
      summary: Retrieve details of a Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the connector.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Connectors
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_connector
      description: Update an existing Connector. This replaces the entire Connector
        with the new data provided.
      summary: Update a Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the connector.
        required: true
      tags:
      - Connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_connector
      description: Update one or more fields of an existing Connector without affecting
        other fields.
      summary: Partially update a Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the connector.
        required: true
      tags:
      - Connectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedConnectorRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
          description: Connector partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_connector
      description: Delete a specific Connector in your account.
      summary: Delete a Connector
      parameters:
      - in: path
        name: connector_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the connector.
        required: true
      tags:
      - Connectors
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Connector deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/custom_pages:
    get:
      operationId: list_custom_pages
      description: List all Custom Pages owned by your account.
      summary: List Custom Pages
      parameters:
      - in: query
        name: active
        schema:
          type: boolean
        description: Filter by active status.
      - $ref: '#/components/parameters/FieldsParam'
      - in: query
        name: id
        schema:
          type: integer
          format: int64
        description: Filter by id (accepts comma-separated values).
      - in: query
        name: last_editor
        schema:
          type: string
        description: Filter by last editor (case-insensitive, partial match).
      - in: query
        name: last_modified__gte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (greater than or equal).
      - in: query
        name: last_modified__lte
        schema:
          type: string
          format: date-time
        description: Filter by last modified date (less than or equal).
      - in: query
        name: name
        schema:
          type: string
        description: Filter by name (case-insensitive, partial match).
      - $ref: '#/components/parameters/OrderingParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/SearchParam'
      tags:
      - Custom Pages
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomPageList'
          description: List of custom pages retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: create_custom_page
      description: Create a new Custom Page in your account.
      summary: Create a Custom Page
      tags:
      - Custom Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPageRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page created successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/custom_pages/{custom_page_id}:
    get:
      operationId: retrieve_custom_page
      description: Retrieve details of a specific Custom Page in your account.
      summary: Retrieve details of a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the custom page.
        required: true
      - $ref: '#/components/parameters/FieldsParam'
      tags:
      - Custom Pages
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_custom_page
      description: Update an existing Custom Page. This replaces the entire Custom
        Page with the new data provided.
      summary: Update a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the custom page.
        required: true
      tags:
      - Custom Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPageRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_custom_page
      description: Update one or more fields of an existing Custom Page without affecting
        other fields.
      summary: Partially update a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the custom page.
        required: true
      tags:
      - Custom Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCustomPageRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPageResponse'
          description: Custom page partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: delete_custom_page
      description: Delete a specific Custom Page in your account.
      summary: Delete a Custom Page
      parameters:
      - in: path
        name: custom_page_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the custom page.
        required: true
      tags:
      - Custom Pages
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: Custom page deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones/{zone_id}/dnssec:
    get:
      operationId: retrieve_dnssec
      description: Retrieve details of a specific DNSSEC from a DNS Zone in your account.
      summary: Retrieve details of a DNSSEC
      parameters:
      - $ref: '#/components/parameters/FieldsParam'
      - in: path
        name: zone_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - DNSSEC
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSSECResponse'
          description: DNSSEC details retrieved successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: update_dnssec
      description: Update an existing a DNSSEC. This replaces the entire DNSSEC with
        the new data provided.
      summary: Update a DNSSEC
      parameters:
      - in: path
        name: zone_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - DNSSEC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DNSSECRequest'
        required: true
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSSECResponse'
          description: DNSSEC updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: partial_update_dnssec
      description: Update one or more fields of an existing DNSSEC without affecting
        other fields.
      summary: Partially update a DNSSEC
      parameters:
      - in: path
        name: zone_id
        schema:
          type: integer
          format: int64
        description: A unique integer value identifying the DNS Zone.
        required: true
      tags:
      - DNS - DNSSEC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDNSSECRequest'
      security:
      - TokenAuth: []
      - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSSECResponse'
          description: DNSSEC partially updated successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /workspace/dns/zones/{zone_id}/records:
    get:
      operationId: list_dns_records
      description: List all DNS Records from a DNS Zone owned by your account.
      summary: List DNS Records
      parameters:
[...]
