openapi: 3.0.3
info:
  description: REST API OpenAPI documentation for the Billing API
  title: billing-api
  version: 1.0.0
servers:
- url: /
paths:
  /billing/invoices/{period}:
    get:
      description: Retrieve invoice data for a specific period.
      operationId: retrieve_invoice
      parameters:
      - description: Fields to include in the response (comma-separated)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Invoice period in MM-YYYY format (e.g., 01-2024 for January\
          \ 2024)"
        explode: false
        in: path
        name: period
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Invoice details (application/pdf)
        "401":
          content:
            application/json:
              examples:
                Error-10001:
                  description: Invalid authentication credentials.
                  summary: Authentication Failed
                  value:
                    errors:
                    - status: "401"
                      code: "10001"
                      title: Authentication Failed
                      detail: Invalid authentication credentials.
              schema:
                $ref: "#/components/schemas/JSONAPIErrorResponse"
          description: Authentication Failed
        "403":
          content:
            application/json:
              examples:
                Error-10003:
                  description: You do not have permission to perform this action.
                  summary: Permission Denied
                  value:
                    errors:
                    - status: "403"
                      code: "10003"
                      title: Permission Denied
                      detail: You do not have permission to perform this action.
                Error-13001:
                  description: "You can only view invoices when your account is {allowed_statuses}"
                  summary: Account Status Not Allowed To View Invoices
                  value:
                    errors:
                    - status: "403"
                      code: "13001"
                      title: Account Status Not Allowed To View Invoices
                      detail: "You can only view invoices when your account is {allowed_statuses}"
                      meta:
                        allowed_statuses:
                        - ONLINE
                        - TRIAL
                        - BLOCKED
              schema:
                $ref: "#/components/schemas/JSONAPIErrorResponse"
          description: Permission Denied
        "404":
          content:
            application/json:
              examples:
                Error-10004:
                  description: Not found.
                  summary: Not Found
                  value:
                    errors:
                    - status: "404"
                      code: "10004"
                      title: Not Found
                      detail: Not found.
              schema:
                $ref: "#/components/schemas/JSONAPIErrorResponse"
          description: Not Found
        "400":
          content:
            application/json:
              examples:
                Error-13000:
                  description: You can only view invoices for past periods.
                  summary: Invoice Not Available For Future Periods
                  value:
                    errors:
                    - status: "400"
                      code: "13000"
                      title: Invoice Not Available For Future Periods
                      detail: You can only view invoices for past periods.
              schema:
                $ref: "#/components/schemas/JSONAPIErrorResponse"
          description: Bad Request
      security:
      - tokenAuth: []
      - tokenAuth: []
      summary: Retrieve details of an invoice
      tags:
      - Billing - Invoices
components:
  schemas:
    JSONAPIErrorObject:
      description: Serializer for a single JSON:API error object.
      example:
        code: code
        meta:
          key: ""
        detail: detail
        source: ""
        title: title
        status: status
      properties:
        status:
          description: The HTTP status code applicable to this problem
          maxLength: 3
          minLength: 3
          type: string
        code:
          description: An application-specific error code
          maxLength: 5
          minLength: 5
          type: string
        title:
          description: "A short, human-readable summary of the problem"
          maxLength: 4096
          minLength: 1
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem
          maxLength: 4096
          minLength: 1
          type: string
        source:
          allOf:
          - $ref: "#/components/schemas/JSONAPIErrorSource"
          description: References to the primary source of the error
        meta:
          additionalProperties: {}
          description: Non-standard meta-information about the error
          type: object
      type: object
    JSONAPIErrorResponse:
      description: Serializer for a JSON:API error response.
      example:
        errors:
        - code: code
          meta:
            key: ""
          detail: detail
          source: ""
          title: title
          status: status
        - code: code
          meta:
            key: ""
          detail: detail
          source: ""
          title: title
          status: status
      properties:
        errors:
          description: Array of error objects
          items:
            $ref: "#/components/schemas/JSONAPIErrorObject"
          type: array
      required:
      - errors
      type: object
    JSONAPIErrorSource:
      description: Serializer for the 'source' object in a JSON:API error.
      properties:
        pointer:
          description: JSON Pointer to the value in the request document that caused
            the error
          maxLength: 4096
          minLength: 1
          type: string
        parameter:
          description: URI query parameter that caused the error
          maxLength: 4096
          minLength: 1
          type: string
        header:
          description: Request header name that caused the error
          maxLength: 4096
          minLength: 1
          type: string
      type: object
  securitySchemes:
    tokenAuth:
      description: Token-based authentication with required prefix "Token"
      in: header
      name: Authorization
      type: apiKey
